'exception-reporting':
  'userId': 'e1ae7ba8-7194-e5b6-e3a2-31869e7eecf4'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '5de72f6690b9288f94a2fe5dbdc4c35263ada564'
'editor':
  'fontSize': 13
  'showInvisibles': true
  'normalizeIndentOnPaste': false
  'invisibles':
    'cr': '↩'
    'eol': ''
    'space': '·'
    'tab': '⇥'
'core':
  'ignoredNames': [
    '.git'
    '.gems'
    '.svn'
    '.DS_Store'
    '.gitkeep'
    'tmp'
    '.bundle'
    'log'
    'bundle'
    '.sass-cache'
    'node_modules'
    '*.dump'
    '*.pgdump'
    '*.log'
  ]
  'projectHome': '/Users/john/projects'
  'themes': [
    'atom-light-ui'
    'solarized-light-syntax'
  ]
  'disabledPackages': [
    'sublime-tabs'
  ]
'tree-view':
  'hideIgnoredNames': true
'atom-lint':
  'ignoredNames': [
    'tmp/**'
  ]
  'csslint':
    'path': '/usr/local/bin/csslint'
  'jshint':
    'path': '/usr/local/bin/jshint'
  'rubocop':
    'path': '/Users/john/.rbenv/shims/rubocop'
  'scss-lint':
    'path': '/Users/john/.rbenv/shims/scss-lint'
'zen-tabs':
  'maximumOpenedTabs': 5
'zentabs':
  'maximumOpenedTabs': 5
'whitespace':
  'ignoreWhitespaceOnCurrentLine': false
